/*general*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');


body, html {
    height: 100%;
    margin: 0;
}


.header {
    font-family: "Amatic SC", sans-serif;
    font-size: 25px;
    padding: 5px;
    /*regarder comprendre et expliquer images*/
    background-repeat: no-repeat;
    background-size: cover;
    background-color: grey;
}
.nav-list-content {
    display: flex;
}
.nav-menu {
    position: relative;
    margin-left: auto;
}
i.fa-bars {
    display: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#mainhome {
    padding-bottom: 10px;
}

/*regarder comprendre et expliquer */
/*je souhaite que le site soit responsif*/

@media screen and (max-width: 596px) {
    .nav-list-content {
        flex-direction: column;
    }
    i.fa-bars {
        display: block;
    }

    ul {
        display: block;
    }

    .toggleMenu {
        display: none;
    }
    .nav-menu {
        position: absolute;
        top: 116px;
        left: 0;
        width: 100%;
    }
}

ul li {
    list-style: none;
    display: inline;
    padding-right: 10px;
}

.nav_bar {
    padding-left: 50%;
}



.test {
    display: block;
}