/*general*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');


body, html {
    height: 100%;
    margin: 0;
}


.header {
    font-family: "Amatic SC", sans-serif;
    font-size: 25px;
    padding: 5px;
    height: 20%;
    /*regarder comprendre et expliquer à Alex*/
    background-repeat: no-repeat;
    background-size: cover;
    background-color: grey;
}

.divHeader{
    display: flex;
    flex-direction: row;
}

#mainhome{
    padding-bottom: 10px;
}

ul li{
    list-style:none;
    display: inline;
    padding-right: 10px;}

.nav_bar{
   padding-left: 50%;
}