/*general*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');


body, html {
    height: 100%;
    margin: 0;
}


.header {
    font-family: "Amatic SC", sans-serif;
    font-size: 25px;
    padding: 5px;
    height: 20%;
    /*regarder comprendre et expliquer images*/
    background-repeat: no-repeat;
    background-size: cover;
    background-color: grey;
    
}

.divHeader{
    display: flex;
    flex-direction: row;
}

#mainhome{
    padding-bottom: 10px;
}
    /*regarder comprendre et expliquer */
    /*je souhaite que le site soit responsif*/

    @media screen and (max-width: 596px){
    .nav_bar{
        flex-direction: column;
        position: absolute;
        right: 55%;
        top: 10%;
    }

    ul {
    display:block;

    }
    .header-nav{
    padding-right: 90%;
    }
}

ul li{
    list-style:none;
    display: inline;
    padding-right: 10px;
    white-space: nowrap;
}

.nav_bar{
   padding-left: 50%;
}


